/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* HEADER */

.header_orange {
  background-color: orange;
  height: 100px;
}

/* MAIN */

.container {
  max-width: 1330px;
  margin: 50px auto;
  padding: 0 15px;
}

#products {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  position: relative;
  margin: 20px;
  width: calc(100% / 3 - 40px);
}

.cards .second_img {
  display: none;
}

.cards:hover .first_img {
  display: none;
}

.cards:hover .second_img {
  display: block;
}

.heart {
  position: absolute;
  top: 10px;
  padding: 5px 15px;
  background-color: white;
  right: 0px;
  font-size: 2rem;
}

.sale {
  position: absolute;
  bottom: 35px;
}

.cut-off {
  background-color: red;
  padding: 5px 15px;
  color: white;
  margin-right: 3px;
}

.sustenaibl {
  background-color: green;
  padding: 5px 15px;
  color: white;
}

/* FOOTER */

.footer {
  color: white;
  background-color: #1a1a1a;

  /* debug */
  height: 100px;
}

.footer > section {
  width: 80%;
}
